@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
	background-color: #FAFAFA;
	font-family: 'Roboto', sans-serif;
}

header {
	box-sizing: border-box;
	background-color: #EC362D;
	width: 100%;
	height: 69px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 37px;
	font-weight: 700;
	color: #ffffff;
	cursor: pointer;
}

.lista-quizzes{
	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: center;
}

.lista-quizzes .container {
	width: 1051px;
}

.cria-quizz {
	width: 100%;
	height: 181px;
	border: 1px dashed #D5D5D5;
	border-radius: 5px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	margin-bottom: 77px;
	margin-top: 146px;
}

.meus-quizzes {
	width: 100%;
	margin-bottom: 48px;
	margin-top: 138px;
}

.titulo-meus-quizzes ion-icon {
	font-size: 30px;
	color: #EC362D;
	margin-left: 6px;
	cursor: pointer;
}

.titulo-meus-quizzes {
	display: flex;
	justify-content: flex-start;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 23px;
	text-align: center;
	color: #B9B9B9;
	width: 250px;
	margin-top: 7px;
	display: flex;
	align-items: center;
}

.btn-cria-quizz {
	box-sizing: border-box;
	background-color: #FAFAFA;
	width: 151px;
	height: 40px;
	margin-bottom: 10px;
	border: 1px dashed #EC362D;
	border-radius: 50px;
	color: #EC362D;
	font-family: 'Roboto', sans-serif;
	font-size: 21px;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
}

h3 {
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	display: flex;
	justify-content: flex-start;
}

.area-todos-quizzes {
	box-sizing: border-box;
	width: 100%;
	margin-top: 6px;
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
}

.area-todos-quizzes-ind {
	box-sizing: border-box;
	width: 100%;
	margin-top: 6px;
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
}

.quizz-individual {
	cursor: pointer;
	position: relative;
	width: 340px;
	height: 181px;
	border-radius: 5px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}

.background-individual{
	position: absolute;
	width: 340px;
	height: 181px;
	border-radius: 5px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}

.quizz-individual img {
	width: 340px;
	height: 181px;
	object-fit: cover;
	border-radius: 5px;
}

.quizz-individual p {
	position: absolute;
	left: 18px;
	bottom: 12px;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 19px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
}

.pagina-quizz {
	width: 100%;
	box-sizing: border-box;
}

.pagina-quizz .container {
	width: 100%;
}

.banner-sup {
	box-sizing: border-box;
	width: 100%;
	height: 227px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.57),rgba(0, 0, 0, 0.57));
	position: relative;
	margin-top: 69px;
}

.banner-sup h2{
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 39px;
	font-weight: 400;
	line-height: 45px;
	width: 1051px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-sup img{
	height: 227px;
}

.pagina-quizz-individual {
	box-sizing: border-box;
	margin: 0 auto;
	background-color: #ffffff;
	width: 759px;
	margin-top: 42px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px;
}

.pag-quizz-ind-titulo {
	width: 688px;
	height: 137px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.cor-azul {
	background-color: #434CA0;
}

.cor-roxa {
	background-color: #A0438D;
}

.cor-vermelha {
	background-color: #EC362D;
}

.pag-quizz-ind-titulo h2{
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 23px;
	font-weight: 700;
	line-height: 26px;
	width: 90%;
	text-align: center;
	display:flex;
	justify-content: center;
}

.opcao-individual h3{
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 23px;
	margin-top: 7px;
	text-align: left;
}

.pag-quizz-ind-opcoes {
	display: grid;
	flex-wrap: nowrap;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr 1fr;
	gap: 20px 30px;
}

.opcao-individual img {
	width: 329px;
	height: auto;
}

.pag-quizz-reiniciar {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.reiniciar-left{
	width: 50%;
}

.reiniciar-rigth {
	width: 45%;
	display: flex;
	justify-content: flex-start;
}

.reiniciar-rigth h3 {
	text-align: left;
	color: #484848;
	font-family: 'Roboto', sans-serif;
	font-size: 19px;
	font-weight: 700;
	line-height: 25px;
}


.pag-quizz-reiniciar img{
	width: 364px;
	height: 273px;
}

@media (max-width: 1100px) {
	.lista-quizzes .container {
		width: 90%;
	}

	.cria-quizz {
		margin-top: 108px;
		margin-bottom: 35px;
	}

	.meus-quizzes {
		margin-top: 116px;
	}

	.quizz-individual,
	.pagina-quizz-individual {
		width: 100%;
		height: auto;
	}

	.quizz-individual img {
		width: 100%;
	}

	.titulo-meus-quizzes {
		justify-content: space-between;
	}

	.pagina-quizz, .pagina-quizz .container {
		width: 100%;
	}

	.banner-sup {
		display: flex;
		justify-content: center;
		width:100%;
		height: 142px;
	}

	.banner-sup img{
		height: 142px;
		width: 100%;
	}

	.banner-sup h2 {
		font-size: 19px;
		width:90%;
	}

	.pag-quizz-ind-titulo{
		width: 100%;
	}

	.opcao-individual h3{
		font-size: 13px;
		line-height: 15px;
	}

	.reiniciar-left{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.reiniciar-rigth {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.reiniciar-rigth h3 {
		font-size: 17px;
		line-height: 19px;
	}
}
/* Seção de novo quiz */

.novo-quiz {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	padding-block: 132px;
}

.novo-quiz .quizz-individual-container {
	width: 100%;
	padding-inline: 20px;
}

.btn-prosseguir {
	height: 54px;
	padding-inline: 50px;
	margin-top: 65px;
	background-color: #ec362d;
	border: none;
	border-radius: 15px;
	color: white;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
}

.btn-home {
	height: 54px;
	background: none;
	border: none;
	color: #818181;
}

.form-card {
	display: flex;
	flex-direction: column;
	width: 100vw;
	padding: 27px 16px;
	background-color: white;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
}

.form-card span {
	font-size: 20px;
	font-weight: 700;
}

.form-card-header {
	display: flex;
	justify-content: space-between;
}

.form-card-header+.form-grupo {
	margin-top: 12px;
}

.form-card-header button {
	padding: 0;
	background: none;
	border: none;
	font-size: 20px;
}

.form-grupo {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

/* Espaçamento entre form-grupos */
.form-grupo+.form-grupo {
	margin-top: 12px;
}

.form-grupo input {
	width: 100%;
	height: 46px;
	padding-inline: 24px;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
}

.form-grupo input::placeholder {
	color: #bababa;
	font-style: italic;
}

/* A classe fold colapsa o form card, mantendo só seu header visível */
.form-card.fold .form-grupo {
	display: none;
}

@media (min-width: 600px) {
	.form-card {
		width: 600px;
	}

	.novo-quiz .quizz-individual-container {
		padding: 0;
		width: 500px;
	}
}

/* \/ CLASSES PARA ESCONDER OU SELECIONAR \/ */

.esconder {
	display: none;
}

.selecionado-h3 h3 {
	color: #009C22;
}

.nao-selecionado {
	opacity: 0.3;
}

.nao-selecionado-h3 h3 {
	color: #FF4B4B;
}